<div class="pokeList">
  <img class="pokeList__icon" src="../../assets//icons8-pokéball-30.png" />
  <h2 class="pokeList__title">Second Generation</h2>

  <div class="pokeList__grid">
    <div class="pokeList__grid__gallery" *ngFor="let pokemon of pokemons">
      <div class="pokeList__grid__gallery__card">
        <img src={{pokemon.sprites.front_default}}>
        <p>#{{pokemon.id}}</p>
        <span>{{pokemon.name}}</span>
        <p *ngFor="let type of pokemon.types">{{type.type.name}}</p>
        <br>
        <i class="far fa-heart"></i>
      </div>
    </div>
  </div>
</div>