.pokeList{
  font-family: 'Segoe UI', Verdana, sans-serif;
  text-align: center;
}

.pokeList__grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 20%);
  grid-row-gap: 1em;
  grid-column-gap: 1em
}

.pokeList__grid__gallery__card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 5px 2px black;
}

.pokeList__grid__gallery__card span{
  font-size: 10px;
  color: rgb(90, 90, 90);
  margin: 40px;
}