
<div class="pokeList">
    <img class="pokeList__icon" src="../../assets//icons8-pokéball-30.png"/>
    <h2 class="pokeList__title">First Generation</h2>

    <div>
      <span *ngIf="pokeList__error">
        OUps ! Nous rencontrons un problème de serveur ! 
      </span>
    </div>
    
    <div class="pokeList__grid">
      <div class="pokeList__grid__gallery" *ngFor="let list of pokemon">
        <div class="pokeList__grid__gallery__card">
            <img (load)="list.imageLoaded = true" src={{list.sprite}}>
            <p>#{{list.id}}</p>
            <span>{{list.name}}</span>
            <!-- <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span> -->
            <br>
            <i class="far fa-heart"></i>
        </div>
      </div>
    </div>

</div>