/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
}

// Colors

$red: #de2827;
$lightRed: #e3494a;
$borderGrey: #ebebeb;
$textGrey: #2f3948;

// Fonts

$nunito: 'Nunito', sans-serif;